/********** Base **********/
body, h1, h2, h3, h4, h5, div, p, a, span, img, ul, li, hr, iframe {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    text-justify: inter-ideograph;
}

/********** Extension **********/
@mixin opacity($opacity) {
    opacity: $opacity;
    filter: alpha(opacity = $opacity * 100);
}
@mixin hover { &:hover { cursor: pointer; } }
@mixin no-decoration { text-decoration: none; }

@mixin fs($fs) { font-size: $fs; }

@mixin w($w) { width: $w !important; }
@mixin h($h) { height: $h !important; }

// margin
@mixin mt($mt) { margin-top: $mt !important; }
@mixin mb($mb) { margin-bottom: $mb !important; }
@mixin mv($mv) {
    @include mt($mv);
    @include mb($mv);
}
@mixin ml($ml) { margin-left: $ml !important; }
@mixin mr($mr) { margin-right: $mr !important; }
@mixin mh($mh) {
    @include ml($mh);
    @include mr($mh);
}

// padding
@mixin pt($pt) { padding-top: $pt !important; }
@mixin pb($pb) { padding-bottom: $pb !important; }
@mixin pv($pv) {
    @include pt($pv);
    @include pb($pv);
}
@mixin pl($pl) { padding-left: $pl !important; }
@mixin pr($pr) { padding-right: $pr !important; }
@mixin ph($ph) {
    @include pl($ph);
    @include pr($ph);
}


// color
$c-turquoise:       #1abc9c;
$c-green-sea:       #16a085;
$c-emerald:         #2ecc71;
$c-nephritis:       #27ae60;
$c-peter-river:     #3498db;
$c-belize-hole:     #2980b9;
$c-amethyst:        #9b59b6;
$c-wisteria:        #8e44ad;
$c-wet-asphalt:     #34495e;
$c-midnight-blue:   #2c3e50;
$c-sun-flower:      #f1c40f;
$c-orange:          #f39c12;
$c-carrot:          #e67e22;
$c-pumpkin:         #d35400;
$c-alizarin:        #e74c3c;
$c-pomegranate:     #c0392b;
$c-clouds:          #ecf0f1;
$c-silver:          #bdc3c7;
$c-concrete:        #95a5a6;
$c-asbestos:        #7f8c8d;
$c-3:               #333;
$c-6:               #666;
$c-9:               #999;
$c-b:               #bbb;
$c-e:               #eee;
@mixin c($c) { color: $c; }
@mixin bc($c) { background-color: $c; }

// alignment
@mixin al { text-align: left; }
@mixin ar { text-align: right; }
@mixin ac { text-align: center; }

// display
@mixin db { display: block; }
@mixin di { display: inline; }
@mixin dib { display: inline-block; }
@mixin dtc { display: table-cell; }
