/* Base */
body, h1, h2, h3, h4, h5, div, p, a, span, img, ul, li, hr, iframe {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    text-justify: inter-ideograph;
}

/* Extension */
.visible {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.hidden {
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.hover:hover {
    cursor: pointer;
}

.no-decoration {
    text-decoration: none;
}

.mt-10 {
    margin-top: 10.0em !important;
}

.mt-5 {
    margin-top: 5.0em !important;
}

.mt-4 {
    margin-top: 4.0em !important;
}

.mt-3 {
    margin-top: 3.0em !important;
}

.mt-2 {
    margin-top: 2.0em !important;
}

.mt-1 {
    margin-top: 1.0em !important;
}

.mt-half {
    margin-top: 0.5em !important;
}

.mt-quarter {
    margin-top: 0.25em !important;
}

.mb-10 {
    margin-bottom: 10.0em !important;
}

.mb-5 {
    margin-bottom: 5.0em !important;
}

.mb-4 {
    margin-bottom: 4.0em !important;
}

.mb-3 {
    margin-bottom: 3.0em !important;
}

.mb-2 {
    margin-bottom: 2.0em !important;
}

.mb-1 {
    margin-bottom: 1.0em !important;
}

.mb-half {
    margin-bottom: 0.5em !important;
}

.mb-quarter {
    margin-bottom: 0.25em !important;
}

.mh-half {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}

.mh-1 {
    margin-left: 1.0em !important;
    margin-right: 1.0em !important;
}

.mh-auto {
    margin-left: auto;
    margin-right: auto;
}

.pt-10 {
    padding-top: 10.0em !important;
}

.pt-5 {
    padding-top: 5.0em !important;
}

.pt-4 {
    padding-top: 4.0em !important;
}

.pt-3 {
    padding-top: 3.0em !important;
}

.pt-2 {
    padding-top: 2.0em !important;
}

.pt-1 {
    padding-top: 1.0em !important;
}

.pt-half {
    padding-top: 0.5em !important;
}

.pt-quarter {
    padding-top: 0.25em !important;
}

.pb-10 {
    padding-bottom: 10.0em !important;
}

.pb-5 {
    padding-bottom: 5.0em !important;
}

.pb-4 {
    padding-bottom: 4.0em !important;
}

.pb-3 {
    padding-bottom: 3.0em !important;
}

.pb-2 {
    padding-bottom: 2.0em !important;
}

.pb-1 {
    padding-bottom: 1.0em !important;
}

.pb-half {
    padding-bottom: 0.5em !important;
}

.pb-quarter {
    padding-bottom: 0.25em !important;
}

.ph-2 {
    padding-left: 2.0em !important;
    padding-right: 2.0em !important;
}

.ph-1 {
    padding-left: 1.0em !important;
    padding-right: 1.0em !important;
}

.ph-half {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.c-3 {
    color: #333;
}

.c-6 {
    color: #666;
}

.c-9 {
    color: #999;
}

.c-c {
    color: #ccc;
}

.c-e {
    color: #eee;
}

.c-turquoise {
    color: #1abc9c;
}

.c-green-sea {
    color: #16a085;
}

.c-emerald {
    color: #2ecc71;
}

.c-nephritis {
    color: #27ae60;
}

.c-peter-river {
    color: #3498db;
}

.c-belize-hole {
    color: #2980b9;
}

.c-amethyst {
    color: #9b59b6;
}

.c-wisteria {
    color: #8e44ad;
}

.c-wet-asphalt {
    color: #34495e;
}

.c-midnight-blue {
    color: #2c3e50;
}

.c-sun-flower {
    color: #f1c40f;
}

.c-orange {
    color: #f39c12;
}

.c-carrot {
    color: #e67e22;
}

.c-pumpkin {
    color: #d35400;
}

.c-alizarin {
    color: #e74c3c;
}

.c-pomegranate {
    color: #c0392b;
}

.c-clouds {
    color: #ecf0f1;
}

.c-silver {
    color: #bdc3c7;
}

.c-concrete {
    color: #95a5a6;
}

.c-asbestos {
    color: #7f8c8d;
}

.bc-3 {
    background-color: #333;
}

.bc-6 {
    background-color: #666;
}

.bc-9 {
    background-color: #999;
}

.bc-b {
    background-color: #bbb;
}

.bc-e {
    background-color: #eee;
}

.bc-turquoise {
    background-color: #1abc9c;
}

.bc-green-sea {
    background-color: #16a085;
}

.bc-emerald {
    background-color: #2ecc71;
}

.bc-nephritis {
    background-color: #27ae60;
}

.bc-peter-river {
    background-color: #3498db;
}

.bc-belize-hole {
    background-color: #2980b9;
}

.bc-amethyst {
    background-color: #9b59b6;
}

.bc-wisteria {
    background-color: #8e44ad;
}

.bc-wet-asphalt {
    background-color: #34495e;
}

.bc-midnight-blue {
    background-color: #2c3e50;
}

.bc-sun-flower {
    background-color: #f1c40f;
}

.bc-orange {
    background-color: #f39c12;
}

.bc-carrot {
    background-color: #e67e22;
}

.bc-pumpkin {
    background-color: #d35400;
}

.bc-alizarin {
    background-color: #e74c3c;
}

.bc-pomegranate {
    background-color: #c0392b;
}

.bc-clouds {
    background-color: #ecf0f1;
}

.bc-silver {
    background-color: #bdc3c7;
}

.bc-concrete {
    background-color: #95a5a6;
}

.bc-asbestos {
    background-color: #7f8c8d;
}

.a-left {
    text-align: left;
}

.a-right {
    text-align: right;
}

.a-center {
    text-align: center;
}

.d-b {
    display: block;
}

.d-i {
    display: inline;
}

.d-ib {
    display: inline-block;
}

.d-tc {
    display: table-cell;
    vertical-align: middle;
}
