@import 'application';


.wrapper {
    @include mh(auto);
    max-width: 600px;
    height: 500px;
}

// button
$button-shadow-size: 5px;
.button-wrap {
    @include ac;
    @include mv(2.0em);
}
.button {
    @include c(#fff);
    @include bc($c-alizaring);
    @include no-decoration;
    @include hover;
    @include pv(0.25em);
    @include ph(0.50em);
    font-size: 1.6em;
    border: none;
    border-radius: 0.5em;
    outline: none;
    box-shadow: 0 $button-shadow-size 0 0 $c-pomegranateg;
    &:active {
        transform: translate(0, $button-shadow-size);
        -webkit-transform: translate(0, $button-shadow-size);
        box-shadow: 0 0 0 0;
    }
}
