@import 'application';

html, body {
    @include h(100%);
}

.wrapper {
    @include h(100%);
    position: absolute;
    top: 50%;
    margin-top: -240px;
    min-height: 480px;

    left: 50%;
    margin-left: -320px;
    min-width: 640px;

}

// button
$button-shadow-size: 0.15em;
.button-wrap {
    @include ac;
}

.button {
    @include c(#fff);
    @include bc($c-alizarin);
    @include no-decoration;
    @include hover;
    @include pv(0.20em);
    @include ph(0.40em);
    @include fs(1.6em);
    border: none;
    border-radius: 0.5em;
    outline: none;
    box-shadow: 0 $button-shadow-size 0 0 $c-pomegranate;
    &:active {
        transform: translate(0, $button-shadow-size);
        -webkit-transform: translate(0, $button-shadow-size);
        box-shadow: 0 0 0 0;
    }
}
